<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<center>
		<h1>Edit <%= @task.name %></h1>
		<form action="/tasks/<%= @task.id %>" method="post">
			<input id="hidden" type="hidden" name="_method" value="patch">
			<label for="name">Task Name:</label>
			<input type="text" placeholder="<%= @task.name %>" name="name">
			<br/>
			<label for="complete">Complete:</label>
			<input type="checkbox" name="complete">
			<br/>
			<label for="due_date">Due Date:</label>
			<input type="datetime" name="due_date">
			<br />
			<br />
			<br />
			<input type="submit" value="submit">
		</form>
		<br />
		<br />
		<br />
		<a class="button" href="/tasks">Cancel</a>
	</center>
</body>

</html>