<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightblue">
	<center>
		<h1>Welcome, <%= current_user.username %>!</h1>
		<h1>Your Tasks...</h1>
		<% @tasks.each do |t| %>
		<% if t.user_id == current_user[:id] %>
		<div style="border: 1px solid black; border-radius: 10px; margin: .25rem;">
			<p>Task: <b><em><%= t.name %></em></b></p>
			<% @projects.each do |p| %>
			<% if p.id == t.project_id %>
			<p>Project: <b><em><%= p.name %></em></b></p>
			<% end %>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</center>
</body>

</html>