<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightblue">
	<center>
		<h1>Welcome, <%= current_user.username %>!</h1>
		<h1>Your Tasks...</h1>
		<% @tasks.each do |t| %>
		<div>
			<p>Task: <b><em><%= t.name %></em></b></p>
		</div>
		<% end %>
	</center>
</body>

</html>