.container {
    height: 100%;
    display: flex;
}
.loginBtn, .logoutBtn {
    transition: .4s;
    text-align: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: lightgray;
}
.loginBtn:hover {
    background: lightgreen;
    color: white;
}
.logoutBtn:hover {
    background: lightcoral;
    color: white;
}