html, input, a {
    font-family: 'Nunito', sans-serif;
}
a {
    color: black;
    transition: .5s;
}
.container {
    height: 100%;
    display: flex;
}
.loginBtn, .signUpBtn {
    text-align: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: lightgray;
}
.loginBtn:hover {
    background: lightgreen;
    color: white;
    transition: .5s;
}
.signUpBtn:hover {
    background: lightskyblue;
    color: white;
    transition: .5s;
}