<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightcoral">
	<center>
		<h1>New Project</h1>
		<form action="/projects" method="post">
			<label for="name">Project Name:</label>
			<input type="text" name="name" />
			<br />
			<br />
			<br />
			<input class="button" type="submit" value="Create" />
		</form>
	</center>

</body>

</html>