<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<h1>My Projects...</h1>
	<table>
		<tr>
			<th>Project</th>
			<th></th>
			<th></th>
		</tr>
		<% @my_projects.each do |p| %>
		<tr>
			<td>
				<em><a href="/projects/<%=p.id%>"><%= p.name %></a></em>
			</td>
			<td>
				<a class="button" style="padding: 5px; margin: 0" href="/projects/<%= p.id %>/edit">Edit</a>
			</td>
			<td>
				<a class="button" style="padding: 5px; margin: 0" href="/projects/<%= p.id %>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</table>
</body>

</html>