<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<h1 style="margin: auto;">My Projects...</h1>
	<% @projects.each do |p| %>
	<% if p.user_id == current_user[:id] %>
	<div style="border: 1px solid black; border-radius: 10px; margin: .25rem;">
		<p>Project: <b><em><a href="/projects/<%=p.id%>"><%= p.name %></a></em></b></p>
		<% @tasks.each do |t| %>
		<% if t.project_id == p.id %>
		<p>Task: <b><em><a href="/tasks/<%=t.id%>"><%= t.name %></a></em></b></p>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<% end %>
</body>

</html>