<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<h1 style="margin: auto;">My Projects...</h1>
	<table>
		<tr>
			<th>Project</th>
		</tr>
		<% @projects.each do |p| %>
		<tr>
			<td>
				<em><a href="/projects/<%=p.id%>"><%= p.name %></a></em>
			</td>
		</tr>
		<% end %>
	</table>
</body>

</html>