<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<center>
		<h1>Welcome, <%= current_user.username %>!</h1>
		<h1>My Projects...</h1>
		<% @projects.each do |p| %>
		<div style="border: 1px solid black; border-radius: 10px">
			<p>Project: <b><em><%= p.name %></em></b></p>
			<p>OwnerId: <b><em><%= p.user_id %></em></b></p>
		</div>
		<% end %>
	</center>
</body>

</html>