<center>
	<h1>Welcome back, <%= current_user.username %>!</h1>
	<h1>Your Projects...</h1>
	<% @projects.each do |p| %>
	<div>
		<%= p.name %>
	</div>
	<% end %>
	<br />
	<a class="button" href="/newproject">Create Project</a>
</center>