<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMS Task Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightskyblue">
    <nav>
        <% if logged_in? %>
        <center>
            <h1>HOME PAGE</h1>
            <p style="margin-bottom: 10rem">Welcome, <%=current_user.username %>!</p>
        </center>
        <% else %>
        <center>
        <p>You are not logged in</p>
        </center>
        <%end %>
    </nav>
</body>

</html>