<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- <div class="container">
        <div class="loginBtn">
            <h1><em>Login</em></h1>
        </div>
        <div class="logoutBtn">
            <h1><em>Logout</em></h1>
        </div>
    </div> -->
    <div class="container">
        <button class="loginBtn">
            <h1><em>Login</em></h1>
        </button>
        <button class="logoutBtn">
            <h1><em>Logout</em></h1>
        </button>
    </div>
</body>

</html>