<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/masterStylesheet.css">
</head>

<body>
	<div style="display: flex;">
		<div>
			<% if logged_in? %>
			<ul style="height: 90vh; margin-right: .5rem">
				<li><a href="/">Home</a></li>
				<li><a href="/projects">My Projects</a></li>
				<li><a href="/tasks">My Tasks</a></li>
				<li><a href="/projects/new">New Project</a></li>
				<li><a href="/tasks/new">New Task</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<% else %>
			<ul style="height: 90vh;">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Sign Up</a></li>
			</ul>
			<% end %>
		</div>
		<div style="width: 100%;">
			<% if flash[:message] %>
			<div id="flash">
				<center>
					<p><%= flash[:message] %></p>
				</center>
			</div>
			<%end%>
			<%= yield %>
		</div>
	</div>
</body>

</html>